html * {
    font-family: "Courier New";
}

.input {
    font-family: "Courier New" !important;
}

nav {
    z-index: 10;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.container {
    height: auto;
    overflow: hidden;
}

.dropdown-menu {
    margin-top: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

    height: -webkit-fill-available;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

#companyNameTitle {
    display: none;
    display: block;
    font-size: 24pt;
}

#company_name_form button {
    margin-left: 25px;
}

#companyidtitle {
    color: #884747;
    font-size: 13pt;
    font-weight: 500;
    margin-bottom: 10px;
    border: 1px dashed #ced4da;
    padding: 5px 15px;
    border-radius: 4px;
    width: fit-content;
    margin: 0px auto 15px;
}

#operator_info_form, #company_info_form {
    display: none;
}

.h-divider {
    width: 100%;
    height: 1px;
    margin: 25px;
    background: #b2b2b2;
    background: linear-gradient(90deg, white, #b2b2b2, white);
}

.tt-menu {
    background: white;
    border-radius: 3px;
    width: max-content;
    max-width: 500px;
    border: 1px solid #b2b2b288;
}
.typeahead-row {
    clear: both;
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
}
.typeahead-row:hover {
    background: #f8f8f8;
}
.typeahead-row .company-name {
    float: left;
    font-size: 11pt;
    line-height: 30px;
}
.typeahead-row .company-id {
    float: right;
    color: #aaaaaa;
    font-size: 8pt;
    line-height: 30px;
    padding-left: 20px;
}

.messageBox {
    position: relative;
    background: whitesmoke;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    color: #b9823a;
    font-size: 12pt;
    margin-bottom: 40px;
}
.messageBox .x {
    position: absolute;
    top: -5px;
    right: 1px;
    color: #949494;
    font-size: 9pt;
    font-weight: 600;
    text-shadow: 0px 1px 2px #a7a7a740;
    cursor: pointer;
    transform: scaleX(1.4);
    padding: 10px;
}

#map {
    position: initial !important;
}

#map > div {
    overflow: hidden;
}

.nav-tabs {
    display: none;
}

#tabs {
    border: none;
}

.formh3 {
    margin-bottom: 30px;
}

.goPrev {
    display: none;
}
.submit {
    margin-top: 20px;
    display: none;
}

.locked {
  height: 12px;
  width: 12px;
  background-color: #cc0000;
  border-radius: 50%;
  display: inline-block;
}

.released {
  height: 12px;
  width: 12px;
  background-color: #00cc00;
  border-radius: 50%;
  display: inline-block;
}
