{% extends "layout.html" %}

{% block title %}
    Map
{% endblock %}

{% block main %}

        <!-- Fill viewport -->
        <div class="container-fluid">
            <div id="map"></div>
        </div>

	<script>
	    function initMap() {
		// Create a map object and specify the DOM element for display.
		var map = new google.maps.Map(document.getElementById('map'), {
		    center: {lat: 43.7037, lng: -79.3646},
		    zoom: 12
		});

	    }
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXfAHkPx5F7nLUujQX7Ch_q4t_J7XAsIk&callback=initMap" async defer></script>

{% endblock %}
