{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form id="company_name_form" action="/getCompanyName" method="post">

	<div class="form-group">
	    <input autocomplete="off" autofocus class="form-control" id="q" name="companycode" placeholder="Company Code" type="text" pattern=".{5,5}" required/>
	    <button class="btn btn-primary" type="submit" disabled>Check Company</button>
	</div>

    </form>

    <div id="operatorInfoWrapper">

	<div id="companyTitleWrapper" class="row">
	    <div class="col-xs-12 col-sm-12 col-md-4"></div>
	    <div class="col-xs-12 col-sm-12 col-md-4" id="companyNameTitle"></div>
	    <div class="col-xs-12 col-sm-12 col-md-4">
		<div style=" display: table; width:100%; height:100%;">
		    <div style=" display: table-cell; vertical-align:middle;">
			<div id="changeCompanyButton">Change Company</div>
		    </div>
		</div>
	    </div>
	</div>

	<div class="h-divider"></div>

	<form id="operator_info_form" action="/register" method="post">

	    <div class="form-group">
		<input autocomplete="off" autofocus class="form-control" name="firstname" placeholder="First Name" type="text"/>
	    </div>

	    <div class="form-group">
		<input autocomplete="off" autofocus class="form-control" name="lastname" placeholder="Last Name" type="text"/>
	    </div>

	    <div class="form-group">
		<input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email Address" type="email"/>
	    </div>

	    <div class="form-group">
		<input class="form-control" name="password" placeholder="Password" type="password"/>
	    </div>

	    <div class="form-group">
		<input class="form-control" name="confirmation" placeholder="Confirm Password" type="password"/>
	    </div>

	    <button class="btn btn-primary" type="submit" disabled>Register</button>

	</form>
    </div>
{% endblock %}
